# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Distribution
dist/
build/
*.egg-info/

# pytest cache
.pytest_cache/ 

